

.btn
	+slm(1rem, 1.25rem, 0)
	color: $background
	background: $text
	box-sizing: border-box
	border-radius: 0.25rem
	width: 100%
	padding: 0.25rem 0.5rem
	cursor: pointer
	border: 0
	transition: background 0.4s ease

	&:hover
		background: lighten($text, 35)


.icon-btn
	+slm(1rem, 1.5rem, 0)
	display: inline-flex
	cursor: pointer
	justify-content: space-around
	align-items: center
	padding: 0.5rem
	gap: 0.5rem
	border-radius: 0.5rem
	transition: background 0.4s ease

	&:hover
		background: $hover

	.icb-icon
		border: 2px solid $text
		border-radius: 50%
		width: 1rem
		height: 1rem
		overflow: clip
		background: $background

		img
			width: 100%
			height: 100%
			vertical-align: top

	.icb-text
		font-weight: bold


.shadow-list
	list-style: none outside
	padding: 0
	margin: 0 0 1rem

	.shadow-card
		margin-bottom: 1rem

.shadow-card
	display: block
	border-radius: calc(0.5rem + 4px)
	background: $border
	animation: flutter 2s cubic-bezier(.4,0,.6,1) infinite
	height: 4rem

@keyframes flutter
	50%
		opacity: 0.5


.admin-title
	opacity: 0.32

	img
		width: 0.85em
		height: 0.85em
		vertical-align: top
		position: relative
		top: 0.3em
