
.main

	fieldset
		border: 0
		padding: 0.5rem 0

	input
		+slm(1rem, 1.25rem, 0)
		color: $text
		box-sizing: border-box
		border: 1px solid $border
		border-radius: 0.25rem
		width: 100%
		padding: 0.25rem 0.5rem
		transition: border 0.4s ease

		&:focus
			border-color: $text

	.error-message
		color: $error
