
.main

	fieldset
		border: 0
		padding: 0.5rem 0

	input
		+slm(1rem, 1.25rem, 0)
		color: $text
		box-sizing: border-box
		border: 1px solid $border
		border-radius: 0.25rem
		width: 100%
		padding: 0.25rem 0.5rem
		transition: border 0.4s ease

		&:focus
			border-color: $text

		&[type="checkbox"],&[type="radio"]
			width: auto

	textarea
		+slm(1rem, 1.25rem, 0)
		color: $text
		box-sizing: border-box
		border: 1px solid $border
		border-radius: 0.25rem
		width: 100%
		padding: 0.25rem 0.5rem
		transition: border 0.4s ease
		resize: vertical
		min-height: 6rem

		&:focus
			border-color: $text

		&.large-content
			min-height: 18rem

	.error-message
		color: $error

	.soft-message
		color: $half
